{
	"arrowParens": "always",
	"bracketSpacing": true,
	"cursorOffset": -1,
	"embeddedLanguageFormatting": "auto",
	"endOfLine": "lf",
	"filepath": "",
	"htmlWhitespaceSensitivity": "css",
	"insertPragma": false,
	"jsxBracketSameLine": false,
	"jsxSingleQuote": true,
	"parser": "typescript",
	"printWidth": 80,
	"proseWrap": "preserve",
	"quoteProps": "as-needed",
	"requirePragma": false,
	"semi": true,
	"singleQuote": false,
	"trailingComma": "all",
	"tabWidth": 4,
	"useTabs": true,
	"svelteAllowShorthand": true,
	"svelteBracketNewLine": true,
	"svelteIndentScriptAndStyle": true,
	"svelteStrictMode": false,
	"svelteSortOrder": "scripts-markup-styles-options",
	"overrides": []
}
